@model RateMyRental.Models.ActivateAccountViewModel

@{
    ViewBag.Title = "Account Activated!";
}

<div class="fullCol">
    <div class="row title">
        Your account has been activated!
    </div>
    <div class="row br">
        <span>Thank you for registering with Research My Rental!  You may now begin using to your account </span>@Html.ActionLink("here", "Index")<span>!</span>
    </div>
</div>
