@model RateMyRental.Models.Account_IndexViewModel

@{
    ViewBag.Title = "Welcome!";
}

<div class="fullCol">
    <a href="~/Account/GuestLogin" target="_self" style="text-decoration: none; color: #000;">
        <div class="indexButton" style="width: 47%;">
            Guests
        </div>
    </a>
    <a href="~/Account/Login" target="_self" style="text-decoration: none; color: #000;">
        <div class="indexButton" style="width: 47%;">
            UW-L, Viterbo, WTC Students
        </div>
    </a>
</div>