@model RateMyRental.Models.Account_IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="loginBox">
    <div class="header">
        <img src="~/Content/rmrlogo.png" alt="RMR" style="height: 4em;" />
    </div>
    <div class="content">
        Username:
        <br />
        Password:
    </div>
</div>
