@model RateMyRental.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@{
    <script type="text/javascript">
        //Slideshow credit to csstricks.com
        //http://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/

        $(document).ready(function () {
            $("#slideshow > div:gt(0)").hide();

            setInterval(function () {
                $("#slideshow > div:first")
                    .fadeOut(1000)
                    .next()
                    .fadeIn(1000)
                    .end()
                    .appendTo("#slideshow");
            }, 3000);
        })
    </script>
}

@using (Html.BeginForm(FormMethod.Post))
{
<div class="leftCol" id="loginLC">
    <div id="slideshow">
        <div>
            <img src="~/Content/house1.jpg" />
        </div>
        <div>
            <img src="~/Content/house2.jpg" />
        </div>
    </div>
</div>
<div class="rightCol" id="loginRC">
    <div style="width: 80%; height: auto; margin-left: 10%;">
        @if (!ViewData.ModelState.IsValid)
        {
            <div id="validationSummary" class="row validationSummary br">
                @Html.ValidationSummary()
            </div>
        } 
        <div class="row br">
            Username: @Html.TextBoxFor(m => m.username)
        </div>
        <div class="row br">
            Password: @Html.PasswordFor(m => m.password)
        </div>
        <div class="row br" style="text-align: right;">
            <input type="submit" value="Login" /> | <a href="~/Account/Register" target="_self" style="color: #000;">Create Account</a>
        </div>
        <div class="row br" style="text-align: right;">
            @Html.ActionLink("Forgot Password?", "ResetPasswordRequest")
        </div>
    </div>
</div>
}