@model RateMyRental.Models.ResetPasswordRequestViewModel

@{
    ViewBag.Title = "ResetPassword";
}

@using (Html.BeginForm("ResetPasswordRequest", "Account"))
{
    <div class="leftCol">
        <div style="width: 50%; margin-left: 25%;">

        </div>
    </div>
    <div class="rightCol" style="text-align: right;">
        <div style="width: 80%; margin-left: 10%;">
            <div class="row title">
                To reset you password, please enter the e-mail of your account:
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div id="validationSummary" class="row validationSummary br">
                    @Html.ValidationSummary()
                </div>
            }
            <div class="row br">
                E-mail: @Html.TextBoxFor(m => m.email)
            </div>
            <div class="row br">
                <input type="submit" value="Send Reset Request" /> | @Html.ActionLink("Cancel", "Login")
            </div>
        </div>
    </div>
}
