<div class="popupBackground">
</div>
<div class="popupBox">
    <div class="popupBox_Text">
        @TempData["popupMessage"]
    </div>
    <div class="row" style="text-align: center;">
        <input type="button" id="btnClosePopup" value="OK" onclick="hidePopup()" />
    </div>
</div>
