@model RateMyRental.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<div class="fullCol">
    <div class="row title">
        Error
    </div>
    <div class="row br">
        @Html.DisplayFor(m => m.errorMessage)
    </div>
    <div class="row br">
        @Html.ActionLink("OK", "Index", "Account", null, null)
    </div>
</div>

